<ion-view view-title="Chat">
  <ion-content>
    <div class="list">
      <h1>Chat online</h1>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <button class="button button-full button-positive">
        Conectar
      </button>
    </div>
  </ion-content>
</ion-view>
